name: Build And Publish App

env:
  ARTIFACT_DIR: out/com.lampa.desktop/make

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-win:
    name: Publish x64 for Windows
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build x64 for Windows
        run: npm run make-x64-win32

      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-builds
          path: |
            ${{ env.ARTIFACT_DIR }}/squirrel.windows/x64/*.exe
            ${{ env.ARTIFACT_DIR }}/zip/win32/x64/*.zip

  publish-linux:
    name: Publish x64 for Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build x64 for Linux
        run: npm run make-x64-linux

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-builds
          path: |
            ${{ env.ARTIFACT_DIR }}/squirrel.linux/x64/*.deb
            ${{ env.ARTIFACT_DIR }}/zip/linux/x64/*.zip

  create-release:
    needs: [publish-win, publish-linux]
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}  # Используем имя тега (например, v1.0.0)
          name: Release ${{ github.ref_name }}
          body: |
            Automated release of version ${{ github.ref_name }}.
            
            **Changes:**
            - Automated build & release pipeline.
          draft: false
          prerelease: false
          artifacts: "artifacts/**/*"  # Все собранные артефакты
