name: Build And Publish App

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-x32-win32:
    name: Publish x32 and x64 for Windows
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build x32 for Windows
        run: npm run build-x3 Newton

      - name: Build x64 for Windows
        run: npm run build-x64-win32

      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-builds
          path: |
            dist/win32-x32/*
            dist/win32-x64/*

  publish-x64-linux:
    name: Publish x64 for Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build x64 for Linux
        run: npm run build-x64-linux

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: dist/linux-x64/*

  create-release:
    needs: [publish-x32-win32, publish-x64-linux]
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}  # Используем имя тега (например, v1.0.0)
          name: Release ${{ github.ref_name }}
          body: |
            Automated release of version ${{ github.ref_name }}.
            
            **Changes:**
            - Automated build & release pipeline.
          draft: false
          prerelease: false
          artifacts: "artifacts/**/*"  # Все собранные артефакты
